
body {
  font-family: "Roboto Mono";
}

h1 {
  font-family: "Chelsea Market";
  font-size:3rem;
}

header {
  text-align: center;
}

.headerContainer {
  display: flex;
  text-align: center;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 40px;
}

.mainBody1 {
  color: white;
  text-align: center;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.mainBody2 {
  width: 30%;
  margin: auto;
  text-align: center;
}

.mainBody3 {
  width: 30%;
  margin: auto;
  text-align: center;
}

.headNav {
  margin: auto;
  width: 80%;
  margin-top: 2rem;
  text-align: center;
  font-family: "Roboto Mono";
  display: flex;
  justify-content: space-around;
}

.headNav a {
  color: white;
  font-family: "Roboto Mono";
  border-radius: 10px;
  text-decoration: none;
  padding: 1rem;
}

.planYourVisit {
  background-color: #ff764e;
}

.learnAboutThePark {
  background-color: #5ed3eb;
}

.getInvolved {
  background-color: #ffcd69;
}

.headImg {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

p {
  border-radius: 100px auto;
}

img.campFire {
  width: 150px;
  height: auto;
}

img.camper {
  width: 150px;
  height: auto;
}

img.footerImg {
  width: 100%;
  height: 200px;
}

.mainBody1 {
  background-color: #ddb9a3;
}

.footNav {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: "Roboto Mono";
  display: flex;
  padding: 2.5%;
  justify-content: space-around;
  background-color: #f9e7dc;
}

.footNav a {
  color: white;
  font-family: "Roboto Mono";
  border-radius: 10px;
  text-decoration: none;
  padding: 1rem;
}
